body {
    font-family: monospace;
    user-select: none;
    overflow: hidden;
}

/* TODO: throw away */
#debug {
    position: fixed;
    color: green;
}

#the-game {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#start-menu {
    background-color: #3F54B1;
}

#death-menu {
    background-color: #B0040B;
}

#victory-menu {
    background-color: #00b05b;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h1, h2 {
    color: #fff;
    text-align: center;
}

h1 {
    padding-top: 20px;
    font-size: 4em;
}

h2{
    font-size: 2em;
}

.game-stopped {
    display: none;
}

.btn {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #4caf50;
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    box-shadow: 0 9px 0 #4caf50db, 0 10px 30px #000;
    margin: 100px auto;
    width: 80%;
    text-align: center;

    transition: all .1s ease;
}

.btn:active {
    box-shadow: 0 3px 0 #4caf50, 0 3px 6px #000;
    position: relative;
    top: 6px;
}
